!!!
%html.mdl-js{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "/public/favicon.ico", :rel => "icon"}/
    %link{:href => "/node_modules/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/public/stylesheets/styles.css", :rel => "stylesheet"}/
    %script{:src => "/node_modules/jquery/dist/jquery.min.js"}
    %script{:src => "/node_modules/bootstrap/dist/js/bootstrap.min.js"}
    %title Codebreaker Rack application
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title= I18n.t(:main_header)
            = yield
